:root {
	--background: #f6f6f6;
	--card: #fff;
    --border: #cccccc;
    --table-header : #e6e6e6;
	--primary-text: #000000;
    --secondary-text: #212121;
}

/* dark mode */
[data-theme="dark"] {
    --background: #121212;
    --card: #181818;
    --border: #212121;
    --table-header : #212121;
    --primary-text: #f6f6f6;
    --secondary-text: #9CA3AF;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--background);
    color: var(--primary-text);
    text-decoration: none;
}

a {
    text-decoration: none;
    color: var(--primary-text);
}

a:hover {
    text-decoration: none;
}

.main-content {
    min-height: 90vh;
}

input[type="text"] {
    background-color: var(--table-header);
    color: var(--primary-text);
    border: 1px solid var(--border);
    border-radius: 2px;
}

/* navbar */
nav {
    text-transform: capitalize;
}

.dropdown-item {
    color: var(--primary-text);
}

nav .dropdown-item:hover {
    background-color: var(--table-header);
    color: var(--primary-text);
}

/* dark mode toggler */

#checkbox-theme {
    display: none;
}

/* light mode icon */
#checkbox-theme + label:before {
    content: "\f186";
    cursor: pointer;
}

/* dark mode icon */
#checkbox-theme:checked + label:before {
    content: "\f185";
    cursor: pointer;
}

/* submit button */

.submit-button-simple {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.submit-button-simple input[type="submit"] {
    border: 1px solid var(--primary-text);
    background-color: transparent;
    cursor: pointer;
    color: var(--primary-text);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Yantramanav", sans-serif;
    font-size: 18px;
    margin: 0px 25px 15px;
    width: auto;
    height: auto;
    transition: all 0.3s ease-in-out;
    padding: 0.5% 3%;
} 

.submit-button-simple input[type="submit"]:hover {
    color: var(--background);
    background-color: var(--primary-text);
}   

button.copy {
    border: 1px solid var(--primary-text);
    background-color: transparent;
    cursor: pointer;
    color: var(--primary-text);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Yantramanav", sans-serif;
    font-size: 14px;
    margin: 0px 25px 15px;
    width: auto;
    height: auto;
    transition: all 0.3s ease-in-out;
    padding: 0.5% 3%;
}

input[type="submit"] {
    border: none;
    background-color: transparent;
    color: var(--background);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Press Start 2P", sans-serif;
    font-size: 12px;
    cursor: pointer;    
}

/* tables */

table {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--card);
}

table, th, td {
    border: 1px solid var(--border);
}

td button, td .option, td input {
    margin: 1rem;
}


/* header */

#header {
    margin-top: 2rem;
    margin-bottom : 2rem;
    font-family: "Yantramanav", sans-serif;
    text-transform: uppercase;
    font-size: 50px;
}

/* filter */

.filter_advanced {
    text-transform: capitalize;
    width: 80%;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.filter_advanced .condition a {
    display: inline;
}

table th {
    background-color: var(--table-header);
}

.condition a {
    text-decoration: none;
    color: var(--primary-text);
    cursor: pointer;
    margin: 0.5rem;
}

button {
    background-color: var(--table-header);
    color: var(--primary-text)
}

.dropdown .btn {
    text-decoration: none;
}

input[class="form-control"] {
    margin: 0;
}

.dropdown-menu {
    background: var(--card);
    overflow-y: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.dropdown-menu li {
    cursor: pointer;
    padding: 2px;
}

.dropdown-menu li.active {
    background-color: var(--table-header);
}

.dropdown-menu li:hover {
    background-color: var(--table-header);
}

.dropdown-menu.商品, .dropdown-menu.行き先 {
    height : 400px;
}