body {
    font-family: "Roboto", sans-serif;
    background-color: #f6f6f6;
    color: black;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

.main-content {
    min-height: 90vh;
}

/* button style 1 */

.submit-button-simple {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.submit-button-simple input[type="submit"] {
    border: 1px solid black;
    background-color: transparent;
    cursor: pointer;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Yantramanav", sans-serif;
    font-size: 18px;
    margin: 0px 25px 15px;
    width: auto;
    height: auto;
    transition: all 0.3s ease-in-out;
    padding: 0.5% 3%;
    
} 

input[type="submit"]:hover {
    color: white;
    background-color: black;
}   

/* button style 2 : panda button
originally from : https://codepen.io/Ma5a/pen/bGgxaYy */

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.submit-button {
    width: 150px;
    padding: 10px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid rgb(131, 88, 59);
    border-width:2px 2px 7px 2px;
    border-radius: 10px;
    background-color: rgb(83, 39, 9);
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    color: white;
    transition: 0.3s;
}

.submit-button:hover {
    border-width:2px 2px 4px 2px;
    margin-top: 3px;
}

.panda_white { fill: white; }
.blue { fill: #12b7e9; }
.green { fill: rgb(43, 163, 113); }
.pink { fill: hotpink;}
.brown { fill: rgb(126, 80, 62);}
.dark_brown { fill: rgb(53, 34, 27);}

input[type="submit"] {
    border: none;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Press Start 2P", sans-serif;
    font-size: 12px;
    cursor: pointer;    
}




/* tables */

table {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

table, th, td {
    border: 1px solid rgb(204,204,204);
}

td button, td input[id="数量"], 
td input[id="呼び"], td input[id="内径"], td .option {
    margin: 1rem;
}

/* header */

#header {
    margin-top: 2rem;
    margin-bottom : 2rem;
    font-family: "Yantramanav", sans-serif;
    text-transform: uppercase;
    font-size: 50px;
}

/* filter */

.filter_advanced {
    text-transform: capitalize;
    width: 80%;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.filter_advanced .condition a {
    display: inline;
}

.filter_advanced th {
    background-color: rgb(230,230,230);
}

.results_table {
    width: 80%;
    text-transform: capitalize;
}

.condition a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.condition a.active {
    color: red;
}

.dropdown .btn {
    text-decoration: none;
}

input[class="form-control"] {
    margin-bottom: 1rem;
}

.dropdown-menu {
    height: 400px;
    overflow-y: auto;
}

.dropdown-menu.表面処理 {
    height: 250px;
    overflow-y: auto;

}

/* toggle menu */

#toggle {
    width: 28px;
    height: 30px;
    position: absolute;
    right: 2rem;
    top: 1rem;
    cursor: pointer;
}

/* lines */
#toggle div {
    width: 100%;
    height: 5px;
    background: black;
    margin: 4px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
}

#toggle.on .one {
    transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on .two {
    opacity: 0;
}

#toggle.on .three {
    transform: rotate(-45deg) translate(7px, -8px);
}

#menu {
    color: black;
    background-color: white;
    padding-top: 1rem;
    margin: auto;
    display: none;
    position: absolute;
    right: 2rem;
    top: 4rem;
    box-shadow: 0 0 0 1px #eeeeee;
}

#menu .about {
    font-family: "Yantramanav";
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

#menu li {
    display: block;
    padding: 0 1rem;
    background-color: #f0f0f0;
}

@media (max-width : 767px) {
    .toggle-container {
        opacity: 0;
    }
}